
@media screen and (max-width: 480px) {
	
	header {
   		background: url('../img/header.jpg') no-repeat center;
		background-size: cover;
		height: 200px;
	}
	
	.main-logo a { 
		background-color: none;
		background-image: url("../img/logo.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: auto;
	}
	
	.main-logo img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: auto;
	}
		
	ul {
		list-style-type: none;
	}
	
	nav ul li {
		display: block;
		padding: 0 0 20px 0;
	}
	
	a:link {
		text-decoration: none;
		color: #cc6600;
	}
	
	.menu  {
		font-size: 2em;
		text-align: center;
		padding-right: 10%;
	}
	
	#front img{
		width: 100%;
		height: auto;
	}
	
	body {    
    	margin: 0 !important;
   		padding: 0 !important;
	}
	
}


@media screen and (min-width: 660px) {

  	.menu {
    	background: none;
    	list-style-type: none;
    	float: right;
    	font-size: 1.125em;
    	margin-right: right;
    	width: 45%;
    	padding-top: 25px;
  	}
  	
  	.menu li {
    	display: inline;
    	padding-left: 10px;
  	}
  	
  	a:link {
		text-decoration: none;
		color: #cc6600;
	}
  
  	.main-logo img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 150px;
		height: auto;
		float: left;
		padding-left: 30px;
		padding-top: 20px;
		padding-bottom: 30px;
	}
  	
  	#front img{
		width: 100%;
		height: auto;
	}

}